* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    padding: 3px;
    margin: 0;
    flex-wrap: wrap;
}

header, nav, main, aside, footer {
    display: flex;
    margin: 1px;
    background: gray;
}

header{
    display: flex;
    flex: 1 1 100vw;
    height: 100px;
}

nav{
    display: flex;
    flex: 1 1 200px;
}

main{
    display: flex;
    flex: 20 1 500px;
}

aside{
    display: flex;
    flex: 1 1 200px;
}

footer{
    display: flex;
    flex: 1 1 100vw;
}

@media only screen and (max-width: 923px) {
    main{
        height: calc(100vh - 330px);
    }

    aside{
        flex: 1 1 100vw;
        height: 100px;
    }
}

@media only screen and (max-width: 717px){
    nav{
        height: 100px;
    }
    main{
        height: calc(100vh - 436px);
    }
}